* {
  
  padding: 0px;
  margin: 0px;
 
  text-decoration: none;
    
  
}

body{
    
    background: #bbe7ef;

    /*---background: url(IB1.png) no-repeat center center fixed;---*/
    background-size: cover;   

}

.wrapper{
    
    width: 90%;
    height: auto;
    
    
    margin-left: auto;
    margin-right: auto;
    
    background: #bbe7ef;
    
}

/*--- Website Front ---*/

#frontside1{
    
    width: 60%;
    height: 30%;
    
    margin-left: auto;
    margin-right: auto;
    
    background: #bbe7ef;
    
}

.logo{
    
    display: block;
    
    width: auto;
    height: 300px;
    
    margin-left: auto;
    margin-right: auto;
    
}

#frontside2{
    
    width: 80%;
    height: 65%;
    
    margin-left: auto;
    margin-right: auto;
    
    background: #bbe7ef;
    
}

#middle{
    
    width: 98%;
    height: 38%;
    
    margin-left: auto;
    margin-right: auto;
    
    background: #bbe7ef;

}

.Play{

    display: block;
    
    margin-left: auto;
    margin-right: auto;
    
    
}

.Left{

    display: block;
    
    margin-right: auto;
    float: left;
    
}

.Right{

    display: block;
    
    margin-left: auto;
    float: right;
   
}
/*--- Website Game ---*/

#gamebox{
    
    display: block;
    
    width: 100%;
    height: auto;
    
    background: #bbe7ef;
    
    
}

/*--- Game ---*/
#player {
    
    display: none;
    
}

#wall {
    
    display: none;
}

/*--#meny{
    
    width: 800px;
    height: 300px;
     
    margin-left: auto;
    margin-right: auto;
    
    background: red;
    
    
}--*/

#myCanvas{
    
}

#nextLevel{
    
    display: none;
    
    width: 800px;
    height: 300px;
    
    margin-left: auto;
    margin-right: auto;
    
    background: blue;   
    
}


p{
    
    font-size: 30px;
    
    
}